---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bienvenidos a Poke AI">
	<main>
		<h1>Pokedex AI</h1>
		<h2>Listado de Pokemons por generacion y busqueda con AI</h2>
	</main>
</Layout>
